/* desktop */
@media only screen and (min-width: 401px) and (max-width: 1900px){
    .flex-container{
        flex: 3 200px;
        display: flex;
        flex-flow: row wrap;
        gap: 20px;
    }

    body {
        background-color: #e5d4ed;
        color: #000000;
        font-family: linotype-didot, serif;
        font-weight: 400;
        font-style: normal;
        padding: 1em;
        margin: 0;
    }
    
    h1{
        font-family: linotype-didot, serif;
        font-weight: 700;
        font-style: normal;
    }
    
    h2{
        font-family: linotype-didot-headline, serif;
        font-weight: 400;
        font-style: normal;
    }
    
    h3{
        font-family: linotype-didot, serif;
        font-weight: 400;
        font-style: normal;
    }
    
    h4{
        font-family: linotype-didot, serif;
        font-weight: 300;
        font-style: normal;
    }
    
    h5{
        font-family: linotype-didot, serif;
        font-weight: 200;
        font-style: normal;
    }
    
    h6{
        font-family: linotype-didot, serif;
        font-weight: 100;
        font-style: normal;
    }
    
    .nav {
        background-color:#b59fbe;
        border: 5px solid #7c6885;
        height: 30px;
        width: 1050px;
        padding: .5em;
        top: 0;
        position: sticky;
        margin-left: auto;
        margin-right: auto;
    }
      
    .nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        justify-content: space-evenly;
        font-size: 25px;
        display: flex;
    }
      
    .nav a {
        color: #7c6885;
        text-decoration: none;
        padding: .5em 1em;
    }
    
    .heading{
        border: 5px solid #7c6885;
        background-color: #b59fbe;
        padding: 10px;
        margin: 0;
        width: 1280px;
        height: 60px;
        font-size: 60px;
        text-align: center; margin: auto;
    }
    
    a:link {
        color: #000000;
    }
      
    a:visited {
        color: #7c6885;
    }
      
    a:hover {
        color: #fff;
    }
    
    hr {
        border-top: 3px solid #7c6885;
    }
    
    /* page 1 */
    .introduction{
        background-color: #e5d4ed;
        color: #000000;
        font-family: linotype-didot, serif;
        font-weight: 400;
        font-style: normal;
        padding: 1em;
        margin: 0;
    }
    
    .image2 {
        border: 2px solid #7c6885;
        float: right;
        margin-left: 10px;
    }
    
    /* page 2 */
    .container {
        display: flex;
        flex-direction: row;
        width: 100%;
        font-size: 30px;
    }
    
    .flex-item1 {
        width: 90%;
        margin-left: 200px;
        margin-top: 10px;
    }

    .flex-item2 {
        width: 90%;
        margin-top: 100px;
    }

    .icon {
        border: none !important;
    }
    
    /* page 3 */
    .column {
        flex: 50%;
        padding: 0 4px;
    }
    
    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
    }
    
    .column img {
        margin-top: 8px;
        vertical-align: middle;
    }
    
    img {
        border: 3px solid #7c6885;
        margin: auto;
        align-items: center;
      }
    
    /* page 4 */

    /* page 5 */
    .gossip {
        font-size: 30px;
        text-align: center; 
        margin-top: 0px;
        margin-left: 20px;
        margin-right: 20px;
    }

    /*page 6 */
    .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
    }
    
    .mySlides {
        display: none;
    }
    
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }
    
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
    
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }
    
    .text {
        color: #f2f2f2;
        font-size: 20px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }
    
    .text {
        background-color: #000000;
        width: fit-content;
        border: 1px solid #7c6885;
        margin-bottom: 20px;
    }

    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }
    
    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }
    
    @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }
}

/* phone */
@media only screen and (max-width: 400px){
    .flex-container{
        flex: 1 200px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        gap: 20px;
    }

    body {
        background-color: #e5d4ed;
        color: #000000;
        font-family: linotype-didot, serif;
        font-weight: 400;
        font-style: normal;
        padding: 1em;
        margin: 0;
    }
    
    h1{
        font-family: linotype-didot, serif;
        font-weight: 700;
        font-style: normal;
    }
    
    h2{
        font-family: linotype-didot-headline, serif;
        font-weight: 400;
        font-style: normal;
    }
    
    h3{
        font-family: linotype-didot, serif;
        font-weight: 400;
        font-style: normal;
    }
    
    h4{
        font-family: linotype-didot, serif;
        font-weight: 300;
        font-style: normal;
    }
    
    h5{
        font-family: linotype-didot, serif;
        font-weight: 200;
        font-style: normal;
    }
    
    h6{
        font-family: linotype-didot, serif;
        font-weight: 100;
        font-style: normal;
    }
    
    .nav {
        background-color:#b59fbe;
        border: 5px solid #7c6885;
        height: 30px;
        width: 1050px;
        padding: .5em;
        top: 0;
        position: sticky;
        margin-left: auto;
        margin-right: auto;
    }
      
    .nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        justify-content: space-evenly;
        font-size: 25px;
        display: flex;
    }
      
    .nav a {
        color: #7c6885;
        text-decoration: none;
        padding: .5em 1em;
    }
    
    .heading{
        border: 5px solid #7c6885;
        background-color: #b59fbe;
        padding: 10px;
        margin-top: 30px;
        width: 1280px;
        height: 60px;
        font-size: 60px;
        text-align: center; margin: auto;
    }
    
    a:link {
        color: #000000;
    }
      
    a:visited {
        color: #7c6885;
    }
      
    a:hover {
        color: #fff;
    }
    
    hr {
        border-top: 3px solid #7c6885;
    }
    
    /* page 1 */
    .introduction{
        background-color: #e5d4ed;
        color: #000000;
        font-family: linotype-didot, serif;
        font-weight: 400;
        font-style: normal;
        padding: 1em;
        margin: 0;
    }
    
    .image2 {
        border: 2px solid #7c6885;
        float: right;
        margin-left: 10px;
    }
    
    /* page 2 */
    .container {
        display: flex;
        flex-direction: row/column;
        width: 100%;
        font-size: 30px;
    }
    
    .flex-item1 {
        width: 90%;
        margin-left: 200px;
        margin-top: 10px;
    }

    .flex-item2 {
        width: 90%;
        margin-top: 100px;
    }
    
    /* page 3 */
    .column {
        flex: 50%;
        padding: 0 4px;
    }
    
    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
    }
    
    .column img {
        margin-top: 8px;
        vertical-align: middle;
    }
    
    img {
        border: 3px solid #7c6885;
        margin: auto;
        align-items: center;
      }

    /* page 4 */

    /* page 5 */

    /*page 6 */
    .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
    }
    
    .mySlides {
        display: none;
    }
    
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }
    
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
    
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }
    
    .text {
        color: #f2f2f2;
        font-size: 20px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }

    .text {
        background-color: #000000;
        width: fit-content;
        border: 1px solid #7c6885;
        margin-bottom: 20px;
    }

    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }
    
    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }
    
    @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }
}