/* General styles - put these straight into your stylesheet */

body {
    margin: 0;
    font-size: 10px;
  }
  
  html {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 1em;
    background-color: #ccc;
  }
  
  /* Selectors to be matched up with rulesets */
  
  /* Rulesets to be matched up with selectors */
  
  .card {
    width: 35em;
    height: 22em;
    margin: 5em auto;
    background-color: #FAB9BA;
    border: 0.2em solid black;
    border-radius: 1.5em;
  }

  .card header {
    background-image: linear-gradient(to bottom,rgba(238, 51, 104, 0.1), rgba(233, 175, 191, 0.1));
    border-radius: 1.5em 1.5em 0 0;
    height: 3em;
    padding: 1em;
  }

  .card article {
    background-color: rgba(0,0,0,0.1);
    height: 12em
  }

  .card h2 {
    font-size: 2em;
    line-height: 1.5em;
    margin: 0em
  }
  
  .card p {
    font-size: 1.5em;
    color: white;
    line-height: 1em;
    padding-left: .7em;
    margin: 0em
  }

  .card footer p {
    margin: 0em;
    text-align: center;
    color: black;
    padding: .2em;
    font-size: 1.5em
  }
  
  .card footer {
    background-image: linear-gradient(to bottom,rgba(233,175,191,0.1), rgba(238,51,104,0.1));
    border-radius: 0 0 1.5em 1.5em;
    height: 3em;
    padding: 1em;
  }

  .card article img {
    float: right;
    max-height: 100%;
  }